<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest Photo</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{/assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>

<link th:replace="~{/fragments/navbar :: navbar}"/>

<br>
<br>
<br>
<section data-bs-version="5.1" class="image3 cid-tBRpYaGQU3">
    <div class="container-fluid">
        <div class="row justify-content-center" style="margin-top: 40px">
            <div class="col-12 col-lg-7">
                <div class="image-wrapper">
                    <!--<img src="../../../assets/images/mbr-1920x1283.jpg">-->
                    <img th:src="@{${'/' + contestPhoto.getPhotoUrl()}}" alt="Photo" title="Photo">
                    <label class="mbr-description mbr-fonts-style mt-2 align-center display-5">Title:</label>
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-5" th:text="${contestPhoto.getTitle()}">
                        Photo Title</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content6 cid-tBRri0zuOS" id="content6-l">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9">
                <hr class="line">
                <label class="mbr-description mbr-fonts-style mt-2 align-center display-5">Story:</label>
                <p class="mbr-description mbr-fonts-style mt-2 align-center display-5">

                    <em th:text="${contestPhoto.getStory()}"></em>
                </p>
                <hr class="line">
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="image3 cid-tBRpYaGQU3">
    <div class="container-fluid">
        <div class="row justify-content-center" style="margin-top: 40px">
            <div class="col-12 col-lg-7">
                <div class="image-wrapper">
                    <div class="mbr-text align-center mbr-fonts-style my-4 display-5"
                         th:if="${contestPhoto.contest.getCurrentPhase().equals('Second phase') && (jury.contains(currentUser) || isOrganizer)}">
                        <a class="btn btn-primary display-4" href="#"
                           th:href="@{'/contests/' + ${contestPhoto.contest.id} + '/contest-photos/' + ${contestPhoto.id} + '/review'}">Review</a>
                        <a class="btn btn-primary display-4" href="#"
                           th:href="@{'/contests/' + ${contestPhoto.contest.id}}">Back to all photos</a>
                        <hr class="line">
                    </div>
                    <div class="mbr-text align-center mbr-fonts-style my-4 display-5"
                         th:if="${contestPhoto.contest.getCurrentPhase().equals('Finished')}">
                        <a class="btn btn-primary display-4" href="#"
                           th:href="@{'/contests/' + ${contestPhoto.contest.id}}">Back to all photos</a>
                        <hr class="line">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="content7 cid-tBRI6jUz6k" th:if="${photoReviews.isEmpty()}">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <blockquote>
                    <h5 class="mbr-section-title mbr-fonts-style mb-2 display-7">
                        <strong>No Reviews</strong>
                    </h5>
                </blockquote>
            </div>
        </div>
    </div>
</section>



<section data-bs-version="5.1" class="content7 cid-tBRI6jUz6k" id="content7-s" th:unless="${photoReviews.isEmpty()}">
    <div class="container-fluid" th:each="photReview : ${photoReviews}">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <blockquote>
                    <h5 class="mbr-section-title mbr-fonts-style mb-2 display-7">
                        <em th:text="'Juror:' + ${photReview.juryMember.getUsername()}"></em>
                    </h5>
                    <i th:text="'Comment: ' + ${photReview.getComment()}"
                       class="mbr-text mbr-fonts-style display-7">
                    </i>
                    <p th:text="'Points: ' + ${photReview.getScore()}"
                       class="mbr-text mbr-fonts-style display-7">
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>


<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{/assets/ytplayer/index.js}"></script>
<script th:src="@{/assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{/assets/theme/js/script.js}"></script>
</body>
</html>