<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest Photo Review</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{/assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>


<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iTPhotoJunkie" id="header1-0">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);" ></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h3 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                    <strong style="white-space: nowrap">Display nature's beauty!</strong>
                </h3>
                <p class="mbr-text mbr-fonts-style display-7">We eagerly await your breathtaking pictures!<br>
                </p>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="form6 cid-tBRJw0jirR" id="form6-t">
    <div class="container">
        <form method="post" th:action="${requestURI}"  th:object="${photoReview}" class="mbr-form form-with-styler mx-auto">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">

                <div class="col-lg-12 col-md col-12 mb-3"  data-for="comment">
                    <label class="mbr-text mbr-fonts-style display-7" th:field="*{comment}">Write your comment:</label>
                    <div class="col-sm-12 col-md-12 col-lg-12 form-group text-left" data-for="comment">
                    <textarea cols="63" name="comment" placeholder="Write your comment here" rows="6" th:field="*{comment}"></textarea>
                </div>
            </div>
            <div class="col-lg-12 col-md col-12 mb-3">
                <input type="checkbox" name="myBoolean" th:field="*{wrongCategory}" value="true">
                <div class="mbr-text mbr-fonts-style display-7" style="display: inline-block">Is the photo in wrong category?</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="score">
                <label class="mbr-text mbr-fonts-style display-7" th:field="*{score}" for="points">Points (between 1 and 10):</label>
                <input type="range" id="points" name="score" min="1" max="10" style="width: 50%">
                <span id="points-value"></span>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function() {
                    // Get the range input element
                    var pointsInput = $('#points');

                    // Get the span element to display the value
                    var pointsValue = $('#points-value');

                    // Add an event listener to the range input
                    pointsInput.on('input', function() {
                        // Update the value of the span element
                        pointsValue.text(pointsInput.val());
                    });
                });
            </script>
            <div class="col-auto mbr-section-btn align-center">
                <button type="submit" class="btn btn-primary display-4">Submit</button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </div>
        </div>
        </form>
    </div>
</section>



<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{/assets/ytplayer/index.js}"></script>
<script th:src="@{/assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{/assets/theme/js/script.js}"></script>
</body>
</html>