<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>All winners are here</p>


<div th:each="winnerPhoto : ${contestPhotosWinners}">
    <div>Contest name</div>
    <div th:text="${winnerPhoto.contestPhoto.getContest().getTitle()}"></div>
    <div>ContestPhoto title</div>
    <div th:text="${winnerPhoto.contestPhoto.title}"></div>
    <div th:text="${winnerPhoto.getPlace().getPlaceName()}"></div>
    <div th:text="${winnerPhoto.getPoints()}"></div>
    <img th:src="@{${winnerPhoto.contestPhoto.getPhotoUrl()}}" alt="Image">

    <img th:src="*{'data:image/jpg;base64,'+ image}" alt="#" />

</div>
</body>
</html>