<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create contest</title>
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
  <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
  <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
  </noscript>
  <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
  <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iT89CreateContest" id="header1-0">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
          <strong>Create Contest</strong>
        </h1>
        <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean molestie porta massa, in pretium ante auctor ac. Fusce at mi.<br>
        </p>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="form7 cid-tBbTvz70sA" id="form7-1a">
  <div class="container-fluid">
    <div class="row justify-content-center mt-4">
      <!--<div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">-->


      <div class="col-lg-3 mx-auto mbr-form" data-form-type="formoid">
        <form class="form-control" method="post" th:action="@{/contests/category/new}">
          <input class="form-control"  name="name" placeholder="Create new category"  required type="text" minlength="2" maxlength="50">
          <br/>
          <br/>
          <br/>
          <div class="col-12 col-md-auto mbr-section-btn">
            <button type="submit" class="btn btn-white display-4">Create</button>
          </div>
        </form>
      </div>
      <div class="col-lg-9 mx-auto mbr-form justify-content-center">

        <form method="post" th:action="${requestURI}"  th:object="${contest}" class="mbr-form form-with-styler mx-auto">
          <div class="row">
            <div class="dragArea row">
              <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="title">
                <label class="mbr-text mbr-fonts-style display-7">Title </label>
                <input required type="text" th:field="*{title}" placeholder="Title" name="title" data-form-field="title"
                     class="form-control" value="" id="name-form7-1a" pattern=".{3,50}"
                       title="Title must be between 3 and 50 characters in length">
                  <label class="error"
                       style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                       th:errors="*{title}">
                  Title error placeholder
                  </label>
                </div>
              </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
              <label class="mbr-text mbr-fonts-style display-7">Choose category: </label>
              <label>
                <select th:field="*{categoryName}" class="form-control" id="categoryName">
                  <option value="" th:selected="${category == null}" disabled>Category name</option>
                  <th:block th:each="category : ${categories}">
                    <option th:text="${category.name}" th:value="${category.name}"></option>
                  </th:block>

                  
                </select>
              </label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
              <label class="mbr-text mbr-fonts-style display-7">Phase I End:</label>
              <input required type="datetime-local" th:field="*{phaseOneEnd}" class="form-control"
                     min="{{#temporals.createTemporal(java.time.LocalDateTime.now().plusDays(1))}}"
                     max="{{#temporals.createTemporal(java.time.LocalDateTime.now().plusDays(30))}}"
                     pattern="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}" title="Please add valid phase end from 1 day to 30 days till now">
              <div>
                <label class="error"
                       style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                       th:errors="*{phaseOneEnd}">
                  Phase I error placeholder
                </label>
              </div>
            </div>
            </div>
          <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
            <label class="mbr-text mbr-fonts-style display-7">Phase II End:</label>
            <input required type="datetime-local" th:field="*{phaseTwoEnd}" class="form-control"
                   min="{{#temporals.createTemporal(java.time.LocalDateTime.now().plusHours(1))}}"
                   max="{{#temporals.createTemporal(java.time.LocalDateTime.now().plusHours(24))}}"
                   pattern="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}" title="Please add valid phase end from 1 hour to 24
                    hours till the phase one end">
            <div>
              <label class="error"
                     style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                     th:errors="*{phaseTwoEnd}">
                Phase II error placeholder
              </label>
            </div>
          </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="title">
              <label class="mbr-text mbr-fonts-style display-7">Cover photo URL</label>
              <input required type="text" th:field="*{coverPhotoName}" placeholder="Cover photo URL" class="form-control">
              <div>
                <label class="error"
                       style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                       th:errors="*{coverPhotoName}">
                  Cover photo URL error placeholder
                </label>
              </div>
            </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                <label class="mbr-text mbr-fonts-style display-7"> Select jury from the Masters:</label>
                <select class="form-control" th:field="*{juryMembers}" multiple>
                  <option th:each="jury : ${juryForSelect}"
                          th:text="${jury.username}"
                          th:value="${jury.username}">
                    Select jury:
                  </option>
                </select>
              </div>
              <label>
                <div class="col-lg-12 col-md col-12 mb-3">
                  <input type="checkbox" name="myBoolean" th:field="*{invitational}" value="true">
                  <div class="mbr-text mbr-fonts-style display-7" style="display: inline-block">Do you want to invite photo junkies?</div>
                </div>
              </label>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                <label class="mbr-text mbr-fonts-style display-7"> Invite users</label>
                <select class="form-control" th:field="*{invitedUsers}" multiple>
                  <option th:each="user : ${users}"
                          th:text="${user.username}"
                          th:value="${user.username}">
                    Select jury:
                  </option>
                </select>
              </div>
              <div class="col-auto mbr-section-btn align-center">
                <button type="submit" class="btn btn-primary display-4">Submit</button>
              </div>
        </form>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
<script th:src="@{../assets/formoid/formoid.min.js}"></script>
</body>
</html>