<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>New Category</h2>
<form action="#" method="post" th:action="${requestURI}" th:object="${category}">
  <label th:text="#{cateory.label.categoryName}">Content</label>
  <br/>
  <input th:field="*{name}" type="text"/>
  <label class="error" th:errors="*{name}">Content error placeholder</label>
  <br/>
  <br/>
  <input type="submit" value="Save"/>
</form>
</body>
</html>-->
