<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unauthorized</title>
  <link rel="stylesheet" th:href="@{/assets/web/assets/mobirise-icons2/mobirise2.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
  <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
  <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
  </noscript>
  <link rel="preload" as="style" th:href="@{/assets/mobirise/css/mbr-additional.css}">
  <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>
<section data-bs-version="5.1" class="features21 cid-tB9XtdmncI" id="features22-i">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">
        <div class="item mbr-flex">
          <div class="icon-box w-100">
<!--            <span class="step-number mbr-fonts-style display-1">401</span>-->
          </div>
          <div class="text-box">
            <h4 class="icon-title card-title mbr-black mbr-fonts-style display-2">
              <strong>You can not delete contest with participants</strong></h4>

            <div class="mbr-section-btn">
              <a class="btn btn-primary display-4" th:href="@{/contests}">Go Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{/assets/ytplayer/index.js}"></script>
<script th:src="@{/assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{/assets/theme/js/script.js}"></script>
</body>
</html>