<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">


</head>
<body>


<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iT" id="header1-0">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);" ></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h3 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                    <strong style="white-space: nowrap">Display</strong>
                    <strong style="white-space: nowrap">The beauty of Bulgaria!</strong>
                </h3>
                <h4 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                    <strong>  <span th:text="${numberOfContests}">X</span> contests created!</strong>
                </h4>
                <p class="mbr-text mbr-fonts-style display-7">We are waiting for your stunning pictures!<br>
                </p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery2 cid-tBbIozPGXP" id="gallery2-w">
<div class="container">
    <div class="mbr-section-head">
        <h6 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong style="font-size: 36px">OUR MOST RECENT CONTESTS</strong>
        </h6>
        <p class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5"
           style="font-size: 18px; padding-left: 250px; padding-right: 250px; margin-bottom: 30px">
            Join our open contests and stand a chance to win points! Simply register or log in to begin your participation.
        </p>
    </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div th:each="contest : ${contests}" class="col-md-6 col-lg-6">
            <div class="item features-image сol-12">
                <div class="item-wrapper" style="margin-left: 20px;">
                    <div class="item-img">
                        <img th:src="${contest.getCoverPhotoName()}">
                    </div>

                    <div class="countdown-cont align-center mb-5">
                        <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
                        <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
                        <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3"
                             title="Minutes"></div>
                        <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3"
                             title="Seconds"></div>
                        <div class="countdown" th:data-due-date="${contest.getCurrentPhase() == 'First phase' ?
                                 contest.getPhaseTwoStart() : (contest.getCurrentPhase() == 'Second phase' ? contest.getFinishedDate():
                                (contest.getCurrentPhase() == 'Finished' ? contest.finishedDate : ''))}"></div>
                    </div>

                    <div class="invite" style="text-align: center;">
                        <p class="display-7">
                        <h3 th:text="'Title: ' + ${contest.title}"></h3>
                        </p>
                    </div>
                    <div class="invite" style="text-align: center;">
                        <p class="display-7">
                            <em>Current phase:</em> <span th:text="${contest.currentPhase}"></span>
                        </p>
                    </div>
                    <div class="invite" style="text-align: center;">
                        <p class="display-7">
                            <em>Organizer :</em> <span th:text="${contest.organizer == 'inactive' ? 'deleted user' : contest.organizer}" id="organizer"></span>
                        </p>
                    </div>


                    <div class="invite" style="text-align: center;">
                        <p class=" display-7">
                            <em>Category:</em> <span th:text="${contest.categoryName}"></span>
                        </p></div>

                    <div class="invite" style="text-align: center;"  th:if="${contest.invitational}">
                        <p class=" display-7" >
                            <em>Invitational contest!</em>
                        </p></div>

                    <div class="invite"  style="text-align: center;" th:unless="${contest.invitational}">
                        <p class=" display-7">
                            <em>Public contest!</em>
                        </p></div>

                    <div class="invite-jury"  style="text-align: left;" th:if="${contest.invitational && contest.invitedUsers.contains(currentUserName) && contest.currentPhase.equals('First phase')}">
                        <p class=" display-7">
                            <em>You are invited for this contest!</em>
                        </p></div>

                    <div class="invite-jury" style="text-align: left;" th:if="${contest.getJuryFromMasters().contains(currentUserName) && !contest.currentPhase.equals('Finished')}">
                        <p class="display-7">
                            <em>You are invited to be jury for this contest!</em> </span>
                        </p></div>
                    <div style="display: flex; justify-content: space-around;">
                        <div class="mbr-section-btn item-footer mt-2" style="display: inline-block;">
                            <a th:href="@{/auth/login}" class="btn btn-primary item-btn display-7">Join now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
<script src="../assets/countdown/countdown.js"></script>
</body>
</html>