<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest View</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{/assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<br>
<br>
<br>
<br>

<section data-bs-version="5.1" class="form2 cid-tBInA8SQqz" id="form2-g">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="#" th:action="@{/contest-photos/pick-cover/{id} (id=${contestId})}" method="get" class="mbr-form form-with-styler"
                      th:object="${filterOptions}">
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-5 align-center display-7"
                               style="margin-bottom: 10px !important;">Filter Options</p>
                        </div>

                        <div class="col-lg col-md col-12 form-group mb-3">
                            <input type="text" th:field="*{title}" placeholder="Title" class="form-control">
                        </div>

                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{sortBy}" class="form-control"
                                    style="line-height: normal !important;">
                                <option value="date">Sort By</option>
                                <option value="title">Title</option>
                                <option value="date">Date</option>
                            </select>
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{sortOrder}" class="form-control"
                                    style="line-height: normal !important;">
                                <option value="desc">Sort Direction</option>
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="mbr-section-btn col-md-auto col">
                            <button type="submit" class="btn btn-primary display-4">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery3 cid-tBbYLTwbfb" id="gallery3-1d">
    <div class="container-fluid" th:if="${contestPhotos.isEmpty()}">
        <div class="mbr-section-head">
            <br><br>
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-3 display-5">
                <em> No photos uploaded yet</em>
            </h3>
        </div>
    </div>
    <div class="row mt-4" th:unless="${contestPhotos.isEmpty()}">
        <div th:each="contestPhoto : ${contestPhotos}" class="item features-image сol-12 col-md-6">
            <div class="item-wrapper">
                <div class="item-img">
                    <img th:src="'/' + ${contestPhoto.getPhotoUrl()}">
                </div>
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-7" th:text="${contestPhoto.title}"></h5>

                    <p class="mbr-text mbr-fonts-style mt-3 display-7" th:text="${contestPhoto.getStory()}">
                        <a href="#" class="text-primary">Read more..</a>
                    </p>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7" th:text="${contestPhoto.getCreatedAt()}"></p>
                </div>
                <div class="mbr-section-btn item-footer mt-2">
                    <a th:href="@{/contest-photos/set-cover/{contestId}/{contestPhotoId}
                    (contestId=${contestId}, contestPhotoId=${contestPhoto.getId()})}"
                       class="btn btn-primary item-btn display-7">Set as cover</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{/assets/ytplayer/index.js}"></script>
<script th:src="@{/assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{/assets/countdown/countdown.js}"></script>
<script th:src="@{/assets/theme/js/script.js}"></script>
</body>
</html>