<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Photo</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{/assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="countdown3 cid-tB9YbLq7II" th:style="'background-image:url(' + *{contest.getCoverPhotoName()} + ');'"  id="countdown3-l">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong th:text="${contest.title}"></strong>
                </h3>
                <h4 class="mbr-section-subtitle mb-5 align-center mbr-fonts-style display-7">
                    <span th:text="'Phase: ' + ${contest.currentPhase}"> (Phase II)</span>
                    <br>
                    <span th:text="'Category: ' + ${contest.category.name}"> (Category)</span>
                    <!-- <span th:text="'Organizer: ' + (${contest.organizer.inactive} ? 'deleted user' : ${contest.organizer})"> (Username)</span>-->
                </h4>
                <div class="countdown-cont align-center mb-5">
                    <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
                    <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
                    <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3" title="Minutes"></div>
                    <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3" title="Seconds"></div>
                    <div class="countdown" th:data-due-date="${dueDate}"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-tB9YwDLNJn" id="form5-n">
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Upload photo</strong></h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="#" th:action="${requestURI}"
                      th:object="${contestPhotoInputDto}" method="post" enctype="multipart/form-data" class="mbr-form form-with-styler"
                      data-form-title="Form Name">
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" placeholder="Title" data-form-field="name"
                                   class="form-control" th:field="*{photoTitle}" value="" id="name-form5-n">
                            <label class="error alert alert-warning" th:errors="*{photoTitle}">Name error placeholder</label>
                        </div>

                        <div class="col-12 form-group mb-3" data-for="url">
                            <input type="file" placeholder="Upload file" class="form-control" th:field="*{file}" value="" required>
                            <label class="error alert alert-warning" th:errors="*{file}">Name error placeholder</label>
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" th:field="*{story}" placeholder="Story" data-form-field="textarea"
                                      class="form-control" id="textarea-form5-n"></textarea>
                            <label class="error alert alert-warning" th:errors="*{story}">Name error placeholder</label>
                        </div>

                        <div class="alert alert-warning" role="alert" style="margin-bottom: 5px;">
                            <strong>Warning</strong>! You won't be able to change your photo after submission. Please
                            make sure that you have uploaded the correct photo.
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-4">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{/assets/ytplayer/index.js}"></script>
<script th:src="@{/assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{/assets/countdown/countdown.js}"></script>
<script th:src="@{/assets/theme/js/script.js}"></script>
<!--<script th:src="@{/assets/formoid/formoid.min.js}"></script>-->
</body>
</html>