<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{../assets/web/assets/mobirise-icons2/mobirise2.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">


</head>
<body>

<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-tBbNLH9glK" id="header1-10">


    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Your Profile</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7"> <span th:text="${user.firstName + ' ' + user.lastName}"></span> <br></p>
                <p class="mbr-text mbr-fonts-style display-7"> <span th:text="${user.email}"></span> <br></p>

            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features14 cid-tBbOq2Mo8S" id="features15-11">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-2 display-7">
                            <strong>Role</strong>
                        </h4>
                        <h5 class="card-text mbr-fonts-style display-4" th:text="*{user.getRole().name}">Photo Junkie</h5>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-2 display-7">
                            <strong>Rank</strong>
                        </h4>
                        <h5 class="card-text mbr-fonts-style display-4" th:text="*{user.getRank().name}">Photo Dictator</h5>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-2 display-7">
                            <strong>Points</strong></h4>
                        <h5 class="card-text mbr-fonts-style display-4" th:text="*{user.score}">123</h5>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-2 display-7">
                            <strong>Update profile</strong>
                        </h4>
                        <h5 class="card-text mbr-fonts-style display-4">
                            <a th:href="@{/users/{id}/update (id=${user.id})}">Update your Info</a>
                        </h5>
                        <h5 class="card-text mbr-fonts-style display-4">
                            <a th:href="@{/users/{id}/delete (id=${user.id})}">Delete your profile</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-center align-items-center">
    <div class="mbr-section-btn item-footer mt-2">
        <button onclick="showWinnersOrAll('allPhotos', this)" class="btn btn-primary item-btn display-7 d-inline-block" >All photos</button>
    </div>
    <span style="margin-left: 10px; margin-right: 10px;"></span>
    <div class="mbr-section-btn item-footer mt-2">
        <button onclick="showWinnersOrAll('winnerPhotos', this)" class="btn btn-primary item-btn display-7 d-inline-block" >My Tropheys</button>
    </div>
    <!--<span style="margin-left: 10px; margin-right: 10px;"></span>
    <div class="mbr-section-btn item-footer mt-2">
        <a href="" class="btn btn-primary item-btn display-7 d-inline-block" target="_blank">All photos</a>
    </div>-->
</div>

<section data-bs-version="5.1" class="gallery3 cid-tBbYLTwbfb" id="winnerPhotos" style="display:none;">
    <div class="container-fluid" th:if="${winnerPhotos.isEmpty()}">
        <div class="mbr-section-head">
            <br><br>
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-3 display-5">
                <em> You have no winner photos, yet</em>
            </h3>
        </div>
    </div>
    <div class="row mt-4" th:unless="${winnerPhotos.isEmpty()}">
        <div th:each="winnerPhoto : ${winnerPhotos}" class="item features-image сol-12 col-md-6">
            <div class="item-wrapper">
                <div class="item-img">
                    <img th:style="${winnerPhoto.place.getId() == 1} ? 'border: 10px solid gold' :
                    (${winnerPhoto.place.getId() == 2} ? 'border: 8px solid silver' :
                    (${winnerPhoto.place.getId() == 3} ? 'border: 8px solid peru'))"
                         th:src="'/' + ${winnerPhoto.contestPhoto.getPhotoUrl()}">
                </div>
                <div class="item-content">
                    <p class="mbr-text mbr-fonts-style mt-3 display-7"
                       th:text="'Contest: ' + ${winnerPhoto.contestPhoto.contest.getTitle()}"></p>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7"
                       th:text="'Award: ' + ${winnerPhoto.place.getPlaceName()} + ', points: ' + ${winnerPhoto.getPoints()}"></p>
                    <h5 class="item-title mbr-fonts-style display-7"
                        th:text="'Title: ' + ${winnerPhoto.contestPhoto.getTitle()}"></h5>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7"
                       th:text="'Story: ' + ${winnerPhoto.contestPhoto.getStory()}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="gallery3 cid-tBbYLTwbfb" id="allPhotos">
    <div class="container-fluid" th:if="${contestPhotos.isEmpty()}">
        <div class="mbr-section-head">
            <br><br>
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-3 display-5">
                <em> No photos for this user</em>
            </h3>
        </div>
    </div>
    <div class="row mt-4" th:unless="${contestPhotos.isEmpty()}">
        <div th:each="contestPhoto : ${contestPhotos}" class="item features-image сol-12 col-md-6">
            <div class="item-wrapper">
                <div class="item-img">
                    <img th:src="'/' + ${contestPhoto.getPhotoUrl()}">
                </div>
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-7" th:text="${contestPhoto.title}">
                    </h5>

                    <p class="mbr-text mbr-fonts-style mt-3 display-7" th:text="${contestPhoto.getStory()}">
                        <a href="#" class="text-primary">Read more..</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
<script>
    function showWinnersOrAll(whoToShow){
        if(whoToShow === "allPhotos"){
            document.getElementById("winnerPhotos").style.display = "none";
            document.getElementById("allPhotos").style.display = "block";
        } else {
            document.getElementById("winnerPhotos").style.display = "block";
            document.getElementById("allPhotos").style.display = "none";
        }
    }
</script>
</body>
</html>