<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Organizer</title>
    <link rel="stylesheet" th:href="@{../assets/web/assets/mobirise-icons2/mobirise2.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">


</head>
<body>

<section data-bs-version="5.1" class="menu menu1 cid-tB9Lt3Aj1A" once="menu" id="menu1-6">


    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">

                <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-7"
                                                     href="page8.html">Hello, (username)</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                    data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item"><a class="nav-link link text-black show display-7" href="#top"
                                            aria-expanded="false">Home</a></li>
                    <li class="nav-item"><a class="nav-link link text-black display-7" href="index.html#features12-6">About</a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-black display-7" href="index.html#features3-4"
                                            aria-expanded="false">Panel</a></li>
                    <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle text-black show display-7"
                                                     href="index.html#features3-4" data-toggle="dropdown-submenu"
                                                     data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                     aria-expanded="true">Contests</a>
                        <div class="dropdown-menu show" aria-labelledby="dropdown-278" data-bs-popper="none"><a
                                class="dropdown-item text-black display-7" href="index.html#features3-4">Phase I</a><a
                                class="dropdown-item text-black display-7" href="index.html#features3-4">Phase II</a>
                            <div class="dropdown"><a class="dropdown-item dropdown-toggle text-black display-7"
                                                     href="index.html#features3-4" data-toggle="dropdown-submenu"
                                                     data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                     aria-expanded="false">Finished</a>
                                <div class="dropdown-menu dropdown-submenu" aria-labelledby="dropdown-920"><a
                                        class="dropdown-item text-black display-7"
                                        href="index.html#features3-4">Winners</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-black display-7" href="index.html#form5-d">Contacts</a>
                    </li>
                </ul>

                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-white display-4" href="https://mobiri.se">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header1 cid-tB9Lt4k9Gc" id="header1-7">


    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Photo Contest</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean molestie porta massa, in pretium ante auctor ac. Fusce at mi.<br></p>

            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 cid-tBbM3zYmp8" id="features2-y">


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-photo mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>Create Contest</strong></h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                            <strong>Users</strong></h4>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery2 cid-tB9ZQKSeBU" id="gallery2-o">


    <div class="container">

        <div class="row mt-4">

            <div class="item features-image сol-12 col-md-6 col-lg-6 active">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img th:src="@{../assets/images/mbr-19.jpg}" alt="Mobirise Website Builder" data-slide-to="2"
                             data-bs-slide-to="3">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">Create Site Today!</h5>

                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Card Text. You don't have to code to create
                            a site. Select one of available themes in the Mobirise Site Builder.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2">
                        <a href="" class="btn btn-primary item-btn display-7" target="_blank">Start
                            Now!</a>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img th:src="@{../assets/images/mbr-11.jpg}" alt="Mobirise Website Builder" data-slide-to="3"
                             data-bs-slide-to="4">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">Create Site Today!</h5>

                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Card Text. You don't have to code to create
                            a site. Select one of available themes in the Mobirise Site Builder.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2">
                        <a href="" class="btn btn-primary item-btn display-7" target="_blank">Start
                            Now!</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section data-bs-version="5.1" class="countdown3 cid-tBbHHTgcZD" id="countdown3-v">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">



                <div class="countdown-cont align-center mb-5">
                    <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
                    <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
                    <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3" title="Minutes"></div>
                    <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3" title="Seconds"></div>
                    <div class="countdown" data-due-date="2124/01/01"></div>
                </div>

            </div>
        </div>
    </div>
</section>
<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/countdown/countdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
</body>
</html>